img {
    width: 90%;
    border-radius: 5px;
    padding: 10px 10px;
}

.card {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    border-radius: 15px; 
    border: solid 1px black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1e243b ;
    background-image: linear-gradient(to right, rgba(255, 204, 255, 0.3),rgba(51, 204, 255, 0.2));
}

.supplierCard {
    background-image: linear-gradient(to right, rgba(215, 122, 96, 0.3),rgba(158, 64, 5, 0.2));
    color:#db1f0a ;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    border-radius: 15px; 
    border: solid 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}